.baklava-node-interface[data-interface-type="unknown"] {
  --baklava-node-interface-port-color: oklch(70% 0.05 240);
}

.baklava-node-interface[data-interface-type="any"] {
  --baklava-node-interface-port-color: oklch(70% 0.25 0);
}

.baklava-node-interface[data-interface-type="string"] {
  --baklava-node-interface-port-color: oklch(70% 0.2 180);
}

.baklava-node-interface[data-interface-type="number"] {
  --baklava-node-interface-port-color: oklch(70% 0.2 320);
}

.baklava-node-interface[data-interface-type="integer"] {
  --baklava-node-interface-port-color: oklch(70% 0.2 310);
}

.baklava-node-interface[data-interface-type="boolean"] {
  --baklava-node-interface-port-color: oklch(70% 0.2 280);
}
